a {
    font-variation-settings: "wght" 350;
}

header a,
header button {
    font-variation-settings: "wght" 500, "ital" 0;
}

.page-title {
    font-family: $abcwhyte;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    font-size: 2.4rem;
    line-height: 124%;
}

.section-title {
    font-family: $abcwhyte;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    font-size: 2.4rem;
    line-height: 124%;
}

.ital {
    font-family: $tuppence-ital;
    letter-spacing: 0.0125em;
    align-self: baseline;
    line-height: 100%;
}

.half-space {
    margin-bottom: 12px !important;
}